In [2]:
import sklearn as sk 
import pandas as pd
from __future__ import print_function

import the data

In [39]:
#import the data from the cvs
data = pd.read_csv(r'C:\Users\HP\Downloads\Week-4 (1)\Week-4\Beginner-Sentiment-Analysis\train.csv', names=['tweet', 'sentiment'])
X, y = data.tweet.fillna('0'), data.sentiment.fillna('0')

In [5]:
data

                                                   tweet  sentiment
0                                                   text  sentiment
1       oh Marly, I`m so sorry!!  I hope you find her...    neutral
2      Playing Ghost Online is really interesting. Th...   positive
3      is cleaning the house for her family who is co...    neutral
4      gotta restart my computer .. I thought Win7 wa...    neutral
...                                                  ...        ...
26994  I don`t think I am going to get to see any of ...   negative
26995                            I can`t buy, only rent!    neutral
26996      Playing see you again-miley cyrus in the shop    neutral
26997  Needs to `unfollow` some tweeps, its not that ...   negative
26998                           boo (but will I listen?)   negative

[26999 rows x 2 columns]

In [6]:
X = data.tweet
y = data.sentiment
X, y

(0                                                     text
 1         oh Marly, I`m so sorry!!  I hope you find her...
 2        Playing Ghost Online is really interesting. Th...
 3        is cleaning the house for her family who is co...
 4        gotta restart my computer .. I thought Win7 wa...
                                ...
 26994    I don`t think I am going to get to see any of ...
 26995                              I can`t buy, only rent!
 26996        Playing see you again-miley cyrus in the shop
 26997    Needs to `unfollow` some tweeps, its not that ...
 26998                             boo (but will I listen?)
 Name: tweet, Length: 26999, dtype: object,
 0        sentiment
 1          neutral
 2         positive
 3          neutral
 4          neutral
            ...
 26994     negative
 26995      neutral
 26996      neutral
 26997     negative
 26998     negative
 Name: sentiment, Length: 26999, dtype: object)

In [12]:
print(X.shape)
print(y.shape)
print(X)

(26999,)
(26999,)
0                                                     text
1         oh Marly, I`m so sorry!!  I hope you find her...
2        Playing Ghost Online is really interesting. Th...
3        is cleaning the house for her family who is co...
4        gotta restart my computer .. I thought Win7 wa...
                               ...
26994    I don`t think I am going to get to see any of ...
26995                              I can`t buy, only rent!
26996        Playing see you again-miley cyrus in the shop
26997    Needs to `unfollow` some tweeps, its not that ...
26998                             boo (but will I listen?)
Name: tweet, Length: 26999, dtype: object

In [8]:
print(X.dtype)
print(y.dtype)

object
object

In [17]:
data.sentiment.value_counts()

neutral      10910
positive      8427
negative      7661
sentiment        1
Name: sentiment, dtype: int64

In [19]:
# convert label to a numerical variable
data['sen_num'] = data.sentiment.map({'neutral':0, 'positive':1, 'negative':2, 'sentiment':3 })

In [22]:
data

                                                   tweet  sentiment  sen_num
0                                                   text  sentiment        3
1       oh Marly, I`m so sorry!!  I hope you find her...    neutral        0
2      Playing Ghost Online is really interesting. Th...   positive        1
3      is cleaning the house for her family who is co...    neutral        0
4      gotta restart my computer .. I thought Win7 wa...    neutral        0
...                                                  ...        ...      ...
26994  I don`t think I am going to get to see any of ...   negative        2
26995                            I can`t buy, only rent!    neutral        0
26996      Playing see you again-miley cyrus in the shop    neutral        0
26997  Needs to `unfollow` some tweeps, its not that ...   negative        2
26998                           boo (but will I listen?)   negative        2

[26999 rows x 3 columns]

In [23]:
X = data.tweet
y = data.sen_num
print(X.shape)
print(y.shape)

(26999,)
(26999,)

In [24]:
import sklearn as sk

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size= 0.5, random_state=1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(13499,)
(13500,)
(13499,)
(13500,)

 instantiate the vectorizer

In [44]:

from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [49]:
vect.fit(X_train)

CountVectorizer()

In [50]:
X_train_dtm = vect.transform(X_train)

In [51]:
X_train_dtm

<13499x17138 sparse matrix of type '<class 'numpy.int64'>'
	with 154070 stored elements in Compressed Sparse Row format>

In [52]:
X_test_dtm = vect.transform(X_test)
X_test_dtm

<13500x17138 sparse matrix of type '<class 'numpy.int64'>'
	with 144446 stored elements in Compressed Sparse Row format>

 ### After turning both the training and the testing data into document-term matrix, start building the model itself using naive_bayes

In [53]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [54]:
nb.fit(X_train_dtm, y_train)

MultinomialNB()

In [57]:
y_pred_class = nb.predict(X_test_dtm)
y_pred_class

array(['negative', 'neutral', 'neutral', ..., 'negative', 'negative',
       'neutral'], dtype='<U8')

In [78]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.6787407407407408

In [61]:
metrics.confusion_matrix(y_test, y_pred_class)

array([[2138, 1431,  226,    0],
       [ 858, 3733,  916,    0],
       [ 200, 1176, 2821,    0],
       [   0,    1,    0,    0]], dtype=int64)

# Testing another model to compare the results: LogisticRegression

In [68]:
# import and instantiate a logistic regression model
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

In [70]:
logreg.fit(X_train_dtm, y_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [71]:
y_pred_class = logreg.predict(X_test_dtm)

In [72]:
y_pred_prob = logreg.predict_proba(X_test_dtm)[:, 1]
y_pred_prob

array([0.09824124, 0.35143011, 0.89385741, ..., 0.56271153, 0.45075744,
       0.21706822])

In [76]:
metrics.accuracy_score(y_test, y_pred_class)

0.6787407407407408